.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-wrapper {
  height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.title {
  font-size: 6em;
  font-weight: 700;
  color: #EE4B5E;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: #1FA9D6;
}

.buttons {
  margin: 30px;
  
  
  }
  .button {
    font-weight: 700;
    border: 2px solid #EE4B5E;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #EE4B5E;
    border-radius: 26px;
  }
  /* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   } */
table {
  font-size: 20px;
}



.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
  

